<div class="home-container">
  <header class="header">
    <h2 class="welcome-message">{{ welcomeMessage }}</h2>
  </header>

  <nav class="navigation">
    <button routerLink="/groups/create" class="nav-button create-group">
      <i class="material-icons">group_add</i>
      <span>Create Group</span>
    </button>

    <button routerLink="/groups/view" class="nav-button create-group">
      <i class="material-icons">group</i>
      <span>View Groups</span>
    </button>
    
    <button routerLink="/friends" class="nav-button friends">
      <i class="material-icons">people</i>
      <span>Friends</span>
    </button>
    
    <button routerLink="/settings" class="nav-button settings">
      <i class="material-icons">settings</i>
      <span>Settings</span>
    </button>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
