<div class="container mt-3">
    <h2>Your Groups</h2>
    <ul class="list-group">
        <li *ngFor="let group of groups" class="lsit-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ group.name }}</strong> - {{ group.description || 'No description' }}
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-manu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" [routerLink]="['/groups', group._id, 'chat']">Open Chat</a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['/groups', group._id, 'settings']">Group Settings</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<button routerLink="/home" class="btn btn-primary">Go Back</button>